@import '../../../assets/css/colors.scss';

.dashboard-activity-list-wrapper {
  height: 100%;
  width: 100%;
  background-color: $dark;
  text-align: center;
}

.dashboard-activity-list {
  &__head {
    background-color: $contrast;
    color: $white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  &__body {
    height: 100%;
    width: 100%;
    align-items: flex-start;
  }

  &__info {
    margin-top: 10px;
    color: $black;
    &--highlight {
      color: $contrast;
    }
  }
}
