@import '../../assets/css/colors.scss';

.dashboard-container-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 1.5em;
}

.next-activities {
  height: 20%;
  margin-right: 1.5em;

  &__head {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $contrast;
    margin-top: 1em;
    text-align: center;
    color: $white;
    & > h2 {
      text-transform: uppercase;
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $light;
  }
}

.dashboard-table-wrapper {
  height: 100%;
}
