@import '../../../assets/css/colors.scss';
@import '../../../assets/css/radius.scss';

.slider-card {
  width: 22.25%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light;
  color: $black;
  font-size: 1.6rem;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: $title-border-radius;
  &__active {
    cursor: initial;
    background-color: $contrast;
    color: $white;
  }
}

.slider-icon {
  position: relative;
}

.slider-number {
  position: absolute;
  top: 50%;
  right: -30px;
}
