@import '../../../assets/css/colors.scss';

// todo: ajeitar essa gambiarra
.barrel-option {
  padding: 50px !important;
  color: $white;
  text-align: center;
  border-right: 10px solid $white;
  margin-bottom: 20px !important;
  cursor: pointer;
}

.barrel-occupied {
  background-color: $darkest;
  cursor: not-allowed;
}

.barrel-empty {
  background-color: $contrast;
  cursor: pointer;
}
