@import '../../assets/css/radius.scss';
@import '../../assets/css/colors.scss';

.custom-breadcrumb {
  position: relative;
}

.breadcrumb > ul {
  & > li:first-child {
    margin-left: -5px;
  }
  & > li {
    :first-child {
      padding: 0.5em 1em;
      border-radius: $breadcrumb-border-radius;
      margin: 0 5px;
    }
    & > a {
      background-color: $darkest;
      color: $white;
    }
    &.is-active > a {
      background-color: $contrast;
      color: $white;
    }
  }
}
