.login-form-wrapper {
}

.login-form--logo {
  max-height: 200px;
  max-width: 200px;
}

.login-form {
  width: 100%;
  &__logo {
    background-color: red;
  }

  &__body {
    background-color: blue;
  }

  &__actions {
    background-color: green;
  }
}
