@import './colors.scss';
@import './radius.scss';

.button {
  border-radius: 0;
  height: auto;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  &.is-default,
  .is-clickable {
    background-color: $darker;
    color: $white;
    &:hover,
    &.is-active {
      background-color: $contrast;
    }
  }
  &.is-danger {
    background-color: $danger;
    color: $black;
  }
  &.is-success {
    background-color: $success;
    color: $black;
  }
  &.is-rounded {
    border-radius: $rounded-button-border-radius;
  }
}

.input {
  border-width: 0;
}

// todo[vob] -> this is for plan container table cell (td)
.is-clickable {
  background-color: $darker;
  color: $white;
  cursor: pointer;
  &:hover,
  &.is-active {
    background-color: $contrast;
  }
}

.is-barrel {
  border-radius: $title-border-radius;
}
