$white: #fff;
$black: #000;

// OLD VALUES
// $darker: #232f34;
// $dark: #4a6572;
// $contrast: #f9aa33;

$darkest: #4a6572;
$darker: #607d8b;
$dark: #b0bec5;
$light: #cfd8dc;
$contrast: #597bd9;

$success: #87ed87;
$danger: #e54e57;
