@import '../../assets/css/colors.scss';
@import '../../assets/css/radius.scss';

.plan-container,
.plan-container-wrapper {
  align-self: stretch;
  width: 100%;
  min-height: 100%;
}

.calendar {
  height: 100%;

  & thead th {
    background-color: $darkest;
    color: $white;
    border: 5px solid $white;
    // border-radius: $breadcrumb-border-radius;
  }

  & tbody td {
    background-color: $darker;
    border: 5px solid $white;
    width: 14%;
    vertical-align: middle;
    font-size: 1.5rem;
  }
}
