.dashboard-cards-wrapper {
  height: 80%;
  align-content: space-between;
  margin-bottom: 0 !important;
}

.dashboard-activities-wrapper {
  height: 20%;
  margin-right: 1.5em;
}

.next-activities__body {
  padding-left: 15px;
  font-weight: 500;
}
