@import '../../assets/css/colors.scss';

.side-menu {
  &-wrapper {
    background-color: $dark;
  }
  &--logo {
    max-height: 300px;
    max-width: 300px;
  }
  &__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    & .button {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      &:not(:last-child) {
        margin-bottom: 1.5em;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    & .button {
      padding-top: 1em;
      padding-bottom: 1em;
      width: 100%;
      min-width: 75px;
    }
  }
}
