@import '../../../assets/css/colors.scss';

.button-wrapper {
  & .button {
    width: 90%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 1em;
    background-color: $contrast !important;
  }
}
