@import '../../../../assets/css/colors.scss';
@import '../../../../assets/css/radius.scss';

.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: $light;
  border-radius: $title-border-radius;
  align-items: center;
  justify-content: space-evenly;
  height: 160px;
  margin-right: 1.5em;
  color: $black;
  cursor: pointer;
  &:hover {
    background-color: $contrast;
    color: $white;
    & > p {
      color: $white;
    }
  }
  & > h3 {
    text-transform: uppercase;
    font-weight: 500;
  }

  & > p {
    color: $darkest;
    text-transform: uppercase;
    font-weight: 500;
  }
}
