@import '../../../assets/css/colors.scss';

.dashboard-last-info-wrapper {
  height: 100%;
  // width: 100%;
  background-color: $dark;
  text-align: center;
  margin-right: 1.5em;
}

.dashboard-last-info-list {
  &__head {
    background-color: $contrast;
    color: $white;
    padding: 15px 0 !important;
    text-transform: uppercase;
  }

  &__body {
    height: 100%;
    width: 100%;
    align-items: flex-start;

    & > li {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 1.4rem;
    }
  }

  &__footer {
    margin-bottom: 10px;
  }

  &__info {
    margin-top: 10px;
    color: $black;
    &--highlight {
      color: $contrast;
    }
  }
}

.attr-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
