@import '../../utils/constants/colors.scss';

.arrow-button-wrapper {
  height: 50px;
  width: 50px;
  background-color: $darker;
  color: $white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;
  &:hover {
    background-color: $contrast;
    color: $black;
  }
  & > p {
    line-height: 50px;
    font-size: 1rem;
  }
}
