@import './assets/css/colors.scss';
@import './assets/css/radius.scss';
@import './assets/css/buttons.scss';

*:focus {
  outline: none;
  box-shadow: none;
}

.input {
  border-radius: 0;
  border-width: 0;
}

.column {
  margin: 0;
  padding: 0;
}

.columns,
.hero-body {
  margin: 0;
  padding: 0;
  &:last-child {
    margin: 0;
  }
}

.hero-body--vertical-stack {
  flex-direction: column;
}

.margin-top--small {
  margin-top: 25px;
}

.left-align {
  text-align: left;
  align-self: flex-start;
}

.right-align {
  text-align: right;
  align-self: flex-end;
}

.fullwidth {
  width: 100%;
}

.hero-head .title {
  text-align: center;
}

.field .is-inline {
  display: inline-block;
}

.modal-card.custom-card > header,
.modal-card.custom-card > section,
.modal-card.custom-card > footer {
  border-radius: 0;
}

.modal-card.custom-card > footer.is-centered {
  display: flex;
  justify-content: center;
}
//todo refactor this
.is-centered {
  display: flex;
  justify-content: center;
}

.header {
  padding: 2.5rem;
}

.app-section {
  padding: 2.5rem;
  padding-top: 0;
  width: 100%;
  height: 100%;
  // background-color: palevioletred;
}

.custom-breadcrumb-button {
  position: absolute;
  right: 0;
  border-radius: $breadcrumb-border-radius;
}
