.plan-page-wrapper {
  & .hero-head {
    display: flex;
    align-items: stretch;
    //   & div {
    //     height: inherit;
    //   }
    & > p {
      align-self: center;
      margin-left: 10px;
      margin-right: 5px;
      font-size: 1.5rem;
    }

    // width: 100%;
    // padding: 50px;
  }
}
