@import '../../../assets/css/colors.scss';
@import '../../../assets/css/radius.scss';

.settings-page__title {
  margin: 0 auto;
  width: 30%;
  margin-bottom: 0.75em;
  word-wrap: break-word;
  background-color: $contrast;
  font-weight: 300;
  text-transform: uppercase;
  color: $white;
  padding: 1rem;
  font-size: 1.75rem;
  border-radius: $title-border-radius;
}

.settings-page__option {
  text-align: center;

  & > .button {
    margin-bottom: 1em;
    width: 50%;
    padding: 1em;
  }
}
