@import '../../../assets/css/colors.scss';
@import '../../../assets/css/radius.scss';

.beer-kind-wrapper {
  & .button {
    width: 90%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 1em;
    border-radius: $title-border-radius;
  }
}
